.react-subcontainer--nav {
  position: fixed;
  top: 20px;
  left: 80px;
  z-index: 107;
  background: #41434c;
  padding-left: 0;
  height: 60px; }
  .react-subcontainer--nav ul {
    padding: 0;
    margin: 0;
    display: flex; }
    .react-subcontainer--nav ul li a {
      display: block;
      padding: 20px 30px;
      background: #696a71;
      height: 60px;
      color: #fff; }
      .react-subcontainer--nav ul li a:hover {
        text-decoration: none; }
    .react-subcontainer--nav ul li.active a {
      background: #f6f5f6;
      color: #37383c; }
