.react-subcontainer--nav {
  position: fixed;
  top: 20px;
  left: 80px;
  right: 80px;
  z-index: 107;
  background: #cacaca;
  padding-left: 0;
  height: 60px; }
  .react-subcontainer--nav ul {
    padding: 0;
    margin: 0;
    display: flex; }
    .react-subcontainer--nav ul li a {
      display: block;
      padding: 20px 30px;
      background: #0a68a5;
      height: 60px;
      color: #fff; }
      .react-subcontainer--nav ul li a:hover {
        text-decoration: none; }
    .react-subcontainer--nav ul li.active a {
      background: #f5f5f5;
      color: #0a68a5; }
    .react-subcontainer--nav ul li.react-subcontainer--nav-change-user-type {
      margin-left: auto;
      padding: 20px 30px; }
