@import 'Colors.scss';

.reactapp-side-nav {
  width: 372px;
  height: 100%;
  background: $sec-blue;
  position: absolute;
  top: 60px;
  left: -312px;
  z-index: 103;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow-y: hidden;
  &.side-nav-active {
    left: 0;
    overflow-y: scroll;
  }
  .reactapp-side-nav--container {
    position: relative;
    padding: 0 60px 20px 0;
  }
  .reactapp-side-nav--title {
    padding: 21px;
    margin:0;
  }
  .reactapp--style-block {
    display: block;
  }
  .reactapp-side-nav--btn{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index:100;
    button {
      border-color: transparent;
      font-family: Arial;
      color: #ffffff;
      font-size: 25px;
      width: 60px;
      height: 60px;
      background: $primary-blue;
      padding: 10px 15px;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      &:hover {
        background: #f5f5f5;
        text-decoration: none;
        color: $sec-blue;
      }
    }
  }
  p {
    color: #fff;
  }

}
